# --- Configuración y Secretos ---
.env
.env.local
# Ignora el archivo específico y la carpeta
/config/Database.php
/config/

# --- IDEs y Editores ---
.vscode/
.idea/
*.sublime-*
*.swp

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs y Temporales ---
*.log
/logs/
*.tmp
*.cache

# --- Base de Datos ---
*.sqlite

# --- Uploads ---
# Ignora el contenido pero mantiene la carpeta gracias al .gitkeep
/public/uploads/*
!/public/uploads/.gitkeep